.card {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #fff;
    cursor: pointer;
    display: block;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.imageWrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.cardInfo {
    padding: 16px;
}

.cardInfo h3 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);;
    margin-bottom: 4px;
}

.cardInfo p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
